Source: spvd-virtmonitor
Section: misc
Priority: optional
Maintainer: Nicolas Delvaux <nicolas.delvaux@arkena.com>
Uploaders: Julien Mori <julien.mori@arkena.com>
Build-Depends: debhelper (>= 8),
               python-all,
               txt2tags
X-Python-Version: >= 2.6
Standards-Version: 3.9.6

Package: spvd-virtmonitor
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         spvd (>= 1~)
Description: SmartJog virtmonitor supervision plugin for spvd
 This plugin monitors virtual machine status.
